<!DOCTYPE html>
<html  lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content="Trabalho Opcional"/>
        <meta name="author" content="Ana Carolina Fidelis Gonçalves e Davi de Almeida Cardoso"/>

        <title>Trabalho Opicional | Login</title>

        <!-- Custom fonts for this template-->
        <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css"/>
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
        <!-- Page level plugin CSS-->
        <link th:href="@{/vendor/datatables/dataTables.bootstrap4.css}" rel="stylesheet"/>
        <!-- Custom styles for this template-->
        <link th:href="@{/css/sb-admin.css}" rel="stylesheet"/>

    </head>

    <body class="bg-dark">
        <div class="container">
            <div class="card card-register mx-auto mt-5">
                <div class="card-header"><i class="fa fa-user-secret"></i> Registrar Atendente</div>
                <div class="card-body">
                    <form  th:action="@{/singup/atendente/save}" th:object="${atendente}">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="nome">Nome Completo</label>
                                    <input type="text" class="form-control" th:field="*{nome}" required=""/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="telefone">Telefone</label>
                                    <input type="text" class="form-control" th:field="*{telefone}" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="celular">Celular</label>
                                    <input type="text" class="form-control" th:field="*{celular}"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="text" class="form-control" th:field="*{email}" required=""/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="senha">Senha</label>
                                    <input type="password" class="form-control" th:field="*{senha}" required=""/>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-block">Registrar</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript-->
        <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
        <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

        <!-- Core plugin JavaScript-->
        <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

    </body>

</html>
